nav{
    background-color: black;
}
main{
    /* background-color: black; */
    height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("images/Login.jpg");
    background-size: cover;
    background-position: center;
}
.login-container{
    width:75%;
    margin:auto;

}
.input{
    padding: 15px 25px;
    border:none;
    margin:10px;
    border-radius: 5px;
}
.submit-btn{
    padding:15px 25px;
    width:10vw;
    margin:auto;
    border:none;
    background-color: white;
    color:black;
    font-size: 20px;
    border-radius: 10px;
}
footer{
    background-color: black;
}