.nav-heads{
    text-decoration: none;
    color: whitesmoke;
}
.nav-secondary{
    background-color: black;
}
.menu{
    list-style: none;
}
/* .profile-dropdown {
    background-color: black !important;
} */

/* .dropdown-menu-dark .dropdown-item {
    color: white !important;
}

.dropdown-menu-dark .dropdown-item:hover {
    background-color: #222 !important;
} */